{% extends 'base.html' %}
{% block content %}
	

	<style type="text/css">
		p{
			font-size: 12px;
		}

		h2{
			font-size: 20px;
		}

		.product-name{
			height: 26px;
		}

		.product-data{
			width: 100%;
			display: flex;
			flex-direction: column;
			max-height: 180px;
			padding-left: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 180px;
		}

		.product-data-item{
			height: auto;
		}

		.price-container h2{
			font-size: 40px;
		}

		.product {
			background-color: #f2f2f2;
			border-top: 1px solid #cccccc;
		}

		.product-data-not-found{
			width: 100%;
			display: flex;
			flex-direction: column;
			max-height: 180px;
			padding-left: 10px;
			padding-top: 30px;
			padding-bottom: 10px;
			height: 90px;
			align-items: center;
		}

		.button-container {
			display: flex;
			align-items: center;
			justify-content: end;
		}

		.r-sidebar {
			padding-top: 100px;
		}

		.left-sidebar {
			display: flex;
			flex-direction: column;
			min-height: 100%;
			padding: 0;
		}

		.category-list-item{
			height: 30px;
			text-align: left;
			padding-left: 20px;
			
			
		}

		.category-list-item	h2{
			font-size: 	16px;
			font-stretch: expanded;
			font-weight:  Normal;
		}

		.category-list-header{
			height: 30px;
			text-align: left;		
			padding-left: 20px;
		}

		.category-list-header h2{
			font-size: 	20px;
			font-stretch: expanded;
			font-weight:  Normal;
			
		}

		.product-list-item{
			display: flex;
			flex-direction: row;
			max-height: 180px;
		
			
		}

		.product-data-item h2{
			font-size: 24px;
		}

		.kurwa {
			width: 100%;
			max-height: 100%;
		}

		.product-footer {	
			padding-right: 10%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}

		.results-counter{
			padding-right: 20px;
			padding-top: 10px;
			text-align: right;
		}

		.results-counter p{
			font-size: 12px;
		}

		.hidden{
			display: none;
		}

		.set-price{
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 40px;
		}

		.price input{
			text-align:center
		}

		.price-buttons button{
			width: 35%;

		}

		.apply-button button{
			width: 35%;

		}

		.apply-button{
			
			padding: 5px;
		}

		.price-buttons{
			padding: 20px;
		}

		.p-button {
			padding: 5px;
		}

		.page-navigation{
			margin-top: 10px;
		}

	</style>
	{% if page_obj %}
		{% for product in page_obj %}
		<div class="product-list-item shadow bg-white rounded">
			<div class="product-image">
				<img style=" height: 180px; width: auto;" src="{{product.get_image_url}}">
				
			</div>
			<div class="container">
				<div class="product-data">
					<div class="product-data-item">
						<h2>{{product.name|title}}</h2>
						
					</div>
					<div class="product-data-item">
						<p><a href="{% url 'home' category=product.category %}">{{product.category}}</a></p>
					</div>
					<div class="product-data-item">
						<h2>${{product.price}}</h2>
					</div>
					
					<div class="product-data-item">
						<div class="product-footer " >
							<div >
								<br>
								<p>{{product.availability}} left</p>
							</div>
							<div>
								<p></p>
							</div>
							<div>
								{% if user.is_authenticated %}
									<button type="button" class="btn btn-outline-dark addbutton" data-productid="{{product.id}}">Add To Cart</button>
								{% else %}
									<button onclick="goToLoginPage()" type="button" class="btn btn-outline-dark addbutton" >Add To Cart</button>
								{% endif %}
								
								{% if user.is_superuser %}
									<button onclick="Delete({{product.id}})" type="button" class="btn btn-outline-danger">Delete</button>
								{% endif %}
							</div>
								
						</div>
					</div>
					
					
				</div>
			</div>

		</div>
			
		{% endfor %}
	{% else %}
		<div class="product-list-item shadow bg-white rounded">
			<div class="product-data-not-found">
				Products not found
			</div>
		</div>
	{% endif %}
	<div class="results-counter">
		{% if objects_count > 0 %}
			<p>Results: {{objects_count}}</p>
		{% endif %}
	</div>
	
	<script type="text/javascript">
		function goToLoginPage() {
			var url = "{% url 'login' %}"
			document.location.href= url
		}

		function Delete(product_id){
			if(confirm('Are you sure?')){
				var url = "{% url 'delete-product' product_id=0 %}".replace('0', product_id)
				document.location.href= url
			}
		}

		$('.addbutton').click(function(){
			var productid;
			productid = $(this).attr("data-productid");
			$.ajax(
			{
				type:"GET",
				url: "addproduct",
				data:{
					product_id:productid
				},
				
			})
		})
	</script>

	

	<div class="page-navigation">
		<nav aria-label="...">
		  <ul class="pagination">
		  	{% if page_obj.has_previous %}
		    <li class="page-item ">
		      <a class="page-link" href="{% url 'home-paginated' page_obj.previous_page_number %}?{{request.GET.urlencode}}" tabindex="-1">Previous</a>
		    </li>
		    {% else %}
		    <li class="page-item disabled">
		      <a class="page-link" href="#" tabindex="-1">Previous</a>
		    </li>
		    {% endif %}

		    {% if page_obj.has_previous %}
		    	<li class="page-item"><a class="page-link" href="{% url 'home-paginated' page_obj.previous_page_number %}?{{request.GET.urlencode}}">{{page_obj.previous_page_number}}</a>
		    	</li>
		    {% endif %}

		    <li class="page-item active">
		      <a class="page-link" href="#">{{page_obj.number}} </a>
		    </li>

		    {% if page_obj.has_next %}
		    <li class="page-item"><a class="page-link" href="{% url 'home-paginated' page_obj.next_page_number %}?{{request.GET.urlencode}}">	{{page_obj.next_page_number}}</a></li>
		    <li class="page-item">
		      <a class="page-link" href="{% url 'home-paginated' page_obj.next_page_number %}?{{request.GET.urlencode}}">Next</a>
		    </li>
		    {% else %}
		    <li class="page-item disabled">
		      <a class="page-link" href="#">Next</a>
		    </li>
		    {% endif %}

		  </ul>
		</nav>
		
	</div>

	
	
{% endblock content %}

{% block sidebar %}
	<div class="r-sidebar">
		{% if user.is_authenticated and user.is_superuser %}
		<div id="add-product-button">
			<button onclick="CreateProduct()" type="button" class="btn btn-outline-danger">Create new Product</button>	
		</div>

		<div>
			<button onclick="CreateCategory()" type="button" class="btn btn-outline-danger">Create new Category</button>	
		</div>

		{% endif %}
	</div>
	
	
	<script type="text/javascript">
		function CreateProduct(){ //create-product
			var newUrl = "{% url 'create-new-product' %}"
			document.location.href= newUrl
		}

		function CreateCategory(){ //create-product
			var newUrl = "{% url 'create-category' %}"
			document.location.href= newUrl
		}
		
		
	</script>
{% endblock sidebar %}

{% block leftsidebar %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


	<div class="left-sidebar">
		<div class="category-list-header">
			<h2><a href="#" onclick="toggleCategories()">Categories:<svg id="caret-down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
  <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/></svg>
  <svg id="caret-up" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up hidden" viewBox="0 0 16 16">
  <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
</svg>
</a></h2>
		</div>
		<div id="category-list" class="hidden">
			{% for category in categories %}
				<div class="category-list-item">
					<h2><a href="{% url 'home' category=category.name %}">{{category.name}}</a></h2>
				</div>
			{% endfor %}
		</div>
	

	

	
		<div class="set-price">
			<div class="price">
				<p>
					<label for="amount">Price range:</label>
					<br>
					<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p>
			</div>
			
			<div id="slider-range"></div>
			<div class="apply-button">
				<button type="button" class="btn btn-primary" onclick="check_priceRange()">Apply</button>
			</div>
			
			
		</div>

		<div class="price-buttons">
			<div class="p-button">
				<button type="button" class="btn btn-primary" onclick="sort(0)">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up-alt" viewBox="0 0 16 16"><path d="M3.5 13.5a.5.5 0 0 1-1 0V4.707L1.354 5.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 4.707V13.5zm4-9.5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/></svg>
					Sort
				</button>
			</div>
			<div class="p-button">
				<button type="button" class="btn btn-primary" onclick="sort(1)">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
					  <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
					</svg>
					Sort
				</button>
			</div>
		</div>
		
		
	</div>
 

	<script>
		$( function() {
			let params = new URLSearchParams(location.search);
			let min_price = params.get('price_from')
			let max_price = params.get('price_to')

			if(max_price == null){
				max_price = 1000;
			}
			if(min_price == null){
				min_price = 0;
			}

			console.log(max_price)
			$( "#slider-range" ).slider({
				range: true,
				min:0,
				
				max: 1000,
				values: [ min_price, max_price ],
				slide: function( event, ui ){
					$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
				}
			});
			$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
			" - $" + $( "#slider-range" ).slider( "values", 1 ) );
		});


		function check_priceRange() {
			var a = $( "#slider-range" ).slider("values", 0);
			var b = $( "#slider-range" ).slider("values", 1);
			
			var url = window.location.href
			params = new URLSearchParams(window.location.search) // getting current params
			console.log(params.toString()) // printing them out
			

			if(params.has("price_from")){  //changing params
				params.delete("price_from")
				params.set("price_from", a)
			}
			else{
				params.set("price_from", a)
			}

			if(params.has("price_to")){
				params.delete("price_to")
				params.set("price_to", b)
			}
			else{
				params.set("price_to", b)
			}
			
			//console.log(params.toString())  // getting final url

			window.location = window.location.pathname + "?"+params
		}

		function sort(reverse){
			var params = new URLSearchParams(window.location.search)
			if(params.has("sorted")){
				params.delete("sorted")
				if(reverse==false){
					params.set("sorted", "normal")
				}
				else{
					params.set("sorted", "reverse")
				}
			}
			else{
				if(reverse==false){
					params.set("sorted", "normal")
				}
				else{
					params.set("sorted", "reverse")
				}
			}
			window.location = window.location.pathname + "?"+params
			
		}
	</script>

	<script type="text/javascript">
		var categoriesStatus = false
		var categories = document.getElementById('category-list')
		var caretd = document.getElementById('caret-down') 
		var caretu = document.getElementById('caret-up') 
		function toggleCategories(){


			console.log(categories)
			console.log(categoriesStatus)
			if(categoriesStatus == false){
				categoriesStatus=true
				categories.classList.remove('hidden')
				caretd.classList.add('hidden')
				caretu.classList.remove('hidden')
			}
			else{
				categoriesStatus=false
				categories.classList.add('hidden')
				caretd.classList.remove('hidden')
				caretu.classList.add('hidden')
			}
		}
	</script>
{% endblock leftsidebar %}


