{% extends 'base.html' %}
{% block content %}
	

	<style type="text/css">
		p{
			font-size: 12px;
		}

		h2{
			font-size: 20px;
		}

		.product-name{
			height: 26px;
		}

		.product-data{
			width: 100%;
			display: flex;
			flex-direction: column;
			max-height: 180px;
			padding-left: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 180px;
		}

		.product-data-item{
			height: auto;
		}

		.price-container h2{
			font-size: 40px;
		}

		.product {
			background-color: #f2f2f2;
			border-top: 1px solid #cccccc;
		}

		.button-container {
			display: flex;
			align-items: center;
			justify-content: end;
		}

		.r-sidebar {
			padding-top: 100px;
		}

		.left-sidebar {

			border: 1px solid black;
			min-height: 100%;
			background-color: red;
			padding: 0;
		}

		.product-list-item{
			display: flex;
			flex-direction: row;
			max-height: 180px;
		
			border-bottom: 1px solid #cccccc;
		}

		.product-data-item h2{
			font-size: 24px;
		}

		.kurwa {
			width: 100%;
			max-height: 100%;
		}

		.product-footer {	
			padding-right: 10%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	</style>
	
	{% for product in object_list %}
	<div class="product-list-item">
		<div class="product-image">
			<img style=" height: 180px; width: auto;" src="{{product.image.url}}">
		</div>
		<div class="kurwa">
			<div class="product-data">
				<div class="product-data-item">
					<h2>{{product.name|title}}</h2>
				</div>
				<div class="product-data-item">
					<p><a href="#"></a>{{product.category}}</a></p>
				</div>
				<div class="product-data-item">
					<h2>${{product.price}}</h2>
				</div>
				
				<div class="product-data-item">
					<div class="product-footer " >
						<div >
							<br>
							<p>{{product.availability}} left</p>
						</div>
						<div>
							<p></p>
						</div>
						<div>
							<button type="button" class="btn btn-outline-dark">Add To Cart</button>
							{% if user.is_superuser %}
								<button onclick="Delete({{product.id}})" type="button" class="btn btn-outline-danger">Delete</button>
							{% endif %}
						</div>
							
					</div>
				</div>
				
				
			</div>
		</div>

	</div>
		
	{% endfor %}
	<script type="text/javascript">
		function Delete(product_id){
			if(confirm('Are you sure?')){
				var url = "{% url 'delete-product' product_id=0 %}".replace('0', product_id)
				document.location.href= url
			}
		}
	</script>
	
{% endblock content %}

{% block sidebar %}
	<div class="r-sidebar">
		{% if user.is_authenticated and user.is_superuser %}
		<div id="add-product-button">
			<button onclick="CreateProduct()" type="button" class="btn btn-outline-danger">Create new Product</button>	
		</div>

		<div>
			<button onclick="CreateCategory()" type="button" class="btn btn-outline-danger">Create new Category</button>	
		</div>

		{% endif %}
	</div>
	
	
	<script type="text/javascript">
		function CreateProduct(){ //create-product
			var newUrl = "{% url 'create-product' %}"
			document.location.href= newUrl
		}

		function CreateCategory(){ //create-product
			var newUrl = "{% url 'create-category' %}"
			document.location.href= newUrl
		}
	</script>
{% endblock sidebar %}

{% block leftsidebar %}
	<div class="left-sidebar">
		
	</div>
{% endblock leftsidebar %}


